*, *:before, *:after
  box-sizing: border-box
html
  font-size: 14px
body
  font-family: 'Futura Book', sans-serif
  font-size: 1rem
img
  max-width: 100%
.section
  padding: 60px 0
  &--dark
    background: $dark url('../img/bg-projects.png') no-repeat center / 100%
    color: $light
  &-title
    text-align: center
    &--left
      text-align: left
    &__text
      max-width: 35%
      font-size: 1.15rem
      line-height: 1.9rem
    &__word
      display: flex
      align-items: center
      &::after
        content: ''
        margin-top: -0.1rem
        margin-left: 2.16rem
        width: 6rem
        height: 2px
        background-color: $primary   
    &__heading
      font-family: "Yeseva One", cursive
      text-transform: uppercase
      font-weight: normal
      &--primary
        margin-bottom: 1.4rem
        font-size: 1.728rem
        line-height: 2.4rem
        color: $primary
        letter-spacing: -0.07em
        font-style: normal
    &__image
      display: flex
      justify-content: center
      align-items: center
      &::before, &::after
        content: ''
        margin-left: 7px
        margin-right: 10px
        width: 32px
        height: 2px
        background-color: $primary
    &__description 
      margin: auto
      margin-top: 1.92rem
      font-size: 1.07rem
      line-height: 135.84%
      max-width: 25.5rem
.scroll-up
  transform: rotate(180deg)
  position: fixed
  z-index: 98
  bottom: 0
  margin-left: -1px
  height: 100%
  width: 30px
  background: rgba($secondary, 0.3) url('../img/arrow-down-black.svg') no-repeat center / 80%
  border: none
  &:focus
    outline: none

@media screen and ( max-width: 760px )
  .section
    &-title
      &__heading
        font-size: 1.83rem
      &__description
        font-size: 1.25rem
  .scroll-up
    transform: rotate(180deg)
    position: fixed
    z-index: 98
    bottom: 0
    right: 0
    margin-right: 10px
    margin-bottom: 10px
    height: 50px
    width: 50px
    background: rgba($secondary, 0.5) url('../img/arrow-down-black.svg') no-repeat center / 50%
    border: none
    border-radius: 50%
    &:focus
      outline: none

    


        