*, *:before, *:after
  box-sizing: border-box
  outline-style: none
html
  font-size: 14px
body
  font-family: 'Futura Book', sans-serif
  font-size: 1rem
img
  max-width: 100%
.section
  padding: 60px 0
  &--dark
    background-color: $dark
    color: $light
  &-title
    text-align: center
    &--light
      color: $light
    &--left
      text-align: left
    &__text
      max-width: 35%
      font-size: 1.15rem
      line-height: 1.9rem
    &__word
      display: flex
      align-items: center
      &::after
        content: ''
        margin-top: -0.1rem
        margin-left: 2.16rem
        width: 6rem
        height: 0.143rem
        background-color: $primary   
    &__heading
      font-family: "Yeseva One", cursive
      text-transform: uppercase
      font-weight: normal
      &--primary
        margin-bottom: 1.4rem
        font-size: 1.728rem
        line-height: 2.4rem
        color: $primary
        letter-spacing: -0.07em
        font-style: normal
    &__image
      display: flex
      justify-content: center
      align-items: center
      &::before, &::after
        content: ''
        margin-left: 7px
        margin-right: 10px
        width: 32px
        height: 2px
        background-color: $primary
    &__description 
      margin: auto
      margin-top: 1.92rem
      font-size: 1.07rem
      line-height: 135.84%
      max-width: 25.5rem
  &__text
    font-size: 1.429rem
    margin: auto
    max-width: 40.786rem
    text-align: center
    font-weight: normal
    line-height: 2.429rem 
    &::before
      display: block
      content: ''
      margin: auto
      width: 3.929rem
      height: 0.11rem
      background-color: $primary
.scroll-up
  transform: rotate(180deg)
  position: fixed
  z-index: 98
  bottom: 0
  margin-left: -1px
  height: 100%
  width: 30px
  background: rgba($secondary, 0.3) url('../img/arrow-down-black.svg') no-repeat center / 80%
  border: none
  &:focus
    outline: none



@media screen and ( max-width: 760px )
  .section
    &-title
      &__heading
        font-size: 1.83rem
      &__description
        font-size: 1.25rem
  .scroll-up
    transform: rotate(180deg)
    position: fixed
    z-index: 98
    bottom: 0
    right: 0
    margin-right: 10px
    margin-bottom: 10px
    height: 50px
    width: 50px
    background: rgba($secondary, 0.5) url('../img/arrow-down-black.svg') no-repeat center / 50%
    border: none
    border-radius: 50%
    &:focus
      outline: none

    
@media screen and (-ms-high-contrast: active) and (-ms-high-contrast: none)
  .instagram__link
    position: relative
  .instagram__link::after
    position: absolute
    top: 7px
  .hero__content
    margin: 0
    top: 100px
  .hero__scroll-down
    line-height: 7rem
  .swiper-pagination-bullets
    margin-bottom: -15px
  .video__play
    position: relative
    height: 50%
    margin: auto
    top: 5px 
    cursor: pointer
  label
    &.invalid
      color: tomato
      position: absolute
      margin-top: 0
      margin-left: 0.3rem
      font-size: 1rem
  .control__form__policy
    margin-top: 1rem
  .swiper-button-next
    padding-right: 50px
    margin-left: 40px
  .swiper-button-prev
    padding-left: 50px
  .swiper-pagination
    &-bullets
      bottom: 14.6px!important
      width: auto!important
      margin-left: 45px!important
      
 