.footer
  background: $dark url('../img/footer/bg-footer.png') no-repeat center / cover
  padding-bottom: 0
  &__wrap
    background: $black url('../img/footer/bg-footer-form.png') no-repeat center / cover
    max-width: 63rem
    margin: auto
    margin-top: -20rem
    margin-bottom: 3.714rem
    padding: 1rem
    padding-bottom: 2.4rem
  &__title
    text-transform: uppercase
    font-family: 'Yeseva One', cursive
    font-weight: normal
    font-size: 1.429rem
    line-height: 2rem
    text-align: center
    margin-bottom: 3.014rem
  &__form
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    width: 61%
    margin: auto
  &__input      
    padding-top: 0.2rem
    &-box
      margin-bottom: 3.429rem
      display: flex
      flex-direction: column
      flex-basis: 44.5%
      &--full-width
        flex-basis: 100%
        margin-bottom: 3.1rem
  &__policy
    flex-basis: 100%
    margin-bottom: 3.571rem
    margin-left: -12px
  &__button
    margin: auto
    font-size: 1.071rem
    line-height: 1.857rem
    text-align: center
    padding: 0.928rem 4.257rem
  &__menu
    left: 0
    bottom: 0
    width: 100%
    background-color: $dark
    padding: 47px 0
.section
  &-title
    max-width: 35rem
    margin: auto
    &__heading
      &--primary
        font-weight: normal
        font-size: 1.429rem
        line-height: 2rem
        letter-spacing: normal
        margin-bottom: 1.857rem
.social
  display: flex
  justify-content: space-between
  margin: auto
  width: 73px
  margin-bottom: 3.071rem
#map
  width: 66rem
  height: 33.2rem
  margin: auto
  margin-bottom: 4.643rem


