.modal
  opacity: 0
  visibility: hidden
  position: fixed
  z-index: 199
  top: 0
  right: 0
  bottom: 0
  left: 0
  height: 100%
  width: 100%
  background-color: rgba($dark, 0.6)
  display: flex
  justify-content: center
  align-items: center
  ::-webkit-scrollbar 
    width: 0.5rem
  ::-webkit-scrollbar-track
    background-color: rgba($secondary, 0.8)
    border-radius: 10px
  ::-webkit-scrollbar-thumb
    border-radius: 10px
    background-color: rgba($dark-light, 0.8)
  &--visible
    opacity: 1
    visibility: visible
  &__over
    position: absolute
    width: 100%
    height: 100%
  &__dialog
    z-index: 201
    padding: 2.357rem 3.5rem 1.929rem 3.5rem
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    position: relative
    background: $dark url('../img/modal/bg-modal.png') no-repeat center / cover
    max-width: 36.143rem

    color: $light
  &__title
    margin: 0
    margin-bottom: 2.429rem
    font-family: 'Yeseva One', cursive
    font-size: 1.357rem
    font-weight: normal
    line-height: 1.857rem
    text-align: center
    max-width: 25.857rem
  &__close
    margin: 0.952rem 1.024rem
    position: absolute
    width: 28px
    height: 28px
    background: transparent url('../img/close.svg') no-repeat center
    top: 0
    right: 0
    border: none
    cursor: pointer
  &__form
    display: flex
    flex-direction: column 
  &__input
    &-box
      display: flex
      flex-direction: column
      width: 29.143rem
      margin-bottom: 3.429rem
      &--last
        margin-bottom: 1.14rem
  &__policy
    margin-bottom: 2.781rem
  &__button
    align-self: flex-end
    width: 15.214rem
    padding: 1.357rem 1.5rem
    font-weight: 500
    font-size: 0.929rem
    line-height: 1.286rem
    text-transform: uppercase
  &-thank 
    opacity: 0
    visibility: hidden  
    &__dialog
      box-shadow: 0px 0px 20px rgba($primary, 0.1)
    &--visible
      opacity: 1
      visibility: visible
      
@media screen and (max-width: 812px ) and (orientation: landscape)
  .modal

    &__dialog

      max-height: 100%
 
      overflow: auto

@media screen and ( max-width: 435px )
  .modal
    &__dialog
      max-width: 100%
    &__button
      width: 100%
    &__input
      max-width: 100%
@media screen and ( min-width: 320px) and (max-width: 350px )
  .modal
    &__dialog
      max-width: 100%
    &__form
      width: 100%
    &__input
      width: 70%







